.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption:hover {
    opacity: 0.9;
    background-color: #340e36;
}

.sidebarOption__icon {
    padding: 10px;
    color: #49274b;
    font-size: 15px !important;
}

.sidebarOption__channel {
    padding: 10px 0;
    font-weight: 300;
}

.sidebarOption__hash {
    padding: 0 10px;
}

.sidebarOption > h3 {
    font-weight: 500;
}
